.hovertext{
  top: -20px;
  left: 40px;
  color: white;
}

.message {
  position: absolute;
  padding: 10px;
  width: 200px;
  height: 50px;
  text-align: left;
  font: 400 .9em 'Open Sans', sans-serif;
  border-radius: 10px;
}
