.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;

  &_image{
    width: 200px;
    height: 200px;
  }

  &_title{
    font-weight: 600;
    color: $colorPrincipal;
  }

  &_form{
    display: flex;
    flex-direction: column;
    font-weight: 500;

    &_input{
      margin-top: 10px;
      margin-bottom: 10px;
    }

    &_submit{
      margin-top: 10px;
      padding: 10px;
      background-color: #FC8A17;
      opacity: 0.9;
      font-size: 20px;
      font-weight: 600;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
  }

}