.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  &_image{
    width: 246px;
    height: 255px;
  }

  &_title{
    font-weight: 600;
    color: $colorPrincipal;
  }

  &_form{
    display: flex;
    flex-direction: column;
    font-weight: 500;

    &_placeholder{
      opacity: 0.4;
      display: flex;
      transform: translateY(40px) translateX(10px);
      pointer-events: none;
      transition: opacity 0.5s;

      &.login_form_placeholder_password svg {
        align-self: flex-end;
      }
    }


    &_input{
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 10px;

      transition: border 0.4s;

      &:hover{
        border: 2px solid #fa7d21;
      }
    }

    &_link{
      font-size: 10px;

      & a{
        margin-left: 2px;
        color: inherit;
        text-decoration: inherit;
        &:hover{
          font-weight: bold;
        }
      }
    }

    &_submit{
      margin-top: 10px;
      padding: 10px;
      background-color: #FC8A17;
      opacity: 0.9;
      font-size: 20px;
      font-weight: 600;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      transition: border 0.4s, transform 0.2s;

      &:hover{
        border: 4px solid #fa7d21;
        transform: translateY(-6px);
      }
    }
  }
}


// Adding dynamic event

.login_form_placeholder_active {
  transform: translateY(40px) translateX(-60px) !important;
  opacity: 1;
  transition: opacity 0.5s !important;
}

.login_form_placeholder_active_password {
  transform: translateY(40px) translateX(-100px) !important;
  opacity: 1;
  transition: opacity 0.5s !important;
}
