.product {

  &_quantity{
    display: flex;
    justify-content: center;

    & input {
      width: 25%;
      text-align: center;
    }

    &_cancel{
      position: relative;
    }

    &_pending{
      position: relative;
    }

    &_check{
      position: relative;
    }

    &_cancel svg {
      fill: red;
      &:hover{
        cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>❓</text></svg>"),default;
      }
    }

    &_pending svg{
      fill: yellow;
      &:hover{
        cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>❓</text></svg>"),default;
      }
    }
    &_check svg{
      fill: limegreen;
      &:hover{
        cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>❓</text></svg>"),default;
      }
    }
  }
}

@media screen and (max-width: 770px){
  .product{
    & td[data-title="Cantidad"]{
      display: flex;
      align-items: center;
    }
    &_quantity{
      justify-content: flex-end;
      width: 100%;

      &_cancel svg {
        width: 40px;
        height: 20px;
      }
      &_pending svg{
        width: 40px;
        height: 20px;
      }
      &_check svg{
        width: 40px;
        height: 20px;
      }
    }

    & td:nth-of-type(4):before{

    }


  }
}