.store{
  &_title{
    display: flex;
    margin-top: 40px;
    font-size: 12px;
    & h1 {

    }
    & svg{
      width: 46px;
      height: 46px;
    }
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }
}